# Python
__pycache__/
pycache/
.pyc
*.py[cod]
*$py.class

# Environment
*_venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Common ignores
node_modules/
.next/
.env*.local
.DS_Store
.env

# IDEs
.vscode/
.idea/
