alembic
blinker
click
colorama
dnspython
email-validator
Flask
flask-cors
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
pillow
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
WTForms
